/*
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *  Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/sensor-dev.h>
#include "rk3128.dtsi"

#include <dt-bindings/soc/rockchip-system-status.h>
#include <dt-bindings/display/mipi_dsi.h>
#include <dt-bindings/display/drm_mipi_dsi.h>
#include <dt-bindings/display/media-bus-format.h>



/ {
	model = "RTAVS RK3128 Shura board";
	compatible = "rtavs,rk3128-shura", "rockchip,rk3128";

	chosen {
		bootargs = "earlycon=uart8250,mmio32,0x20068000";
	};

	fiq-debugger {
		compatible = "rockchip,fiq-debugger";
		rockchip,serial-id = <2>;
		rockchip,signal-irq = <159>;
		rockchip,wake-irq = <0>;
		/* If enable uart uses irq instead of fiq */
		rockchip,irq-mode-enable = <0>;
		rockchip,baudrate = <115200>;  /* Only 115200 and 1500000 */
		interrupts = <GIC_SPI 127 IRQ_TYPE_LEVEL_LOW>;
		status = "okay";
	};

	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 2>;
		io-channel-names = "buttons";
		poll-interval = <100>;
		keyup-threshold-microvolt = <3300000>;

		button-up {
			label = "Volume Up";
			linux,code = <KEY_VOLUMEUP>;
			press-threshold-microvolt = <0>;
		};

		button-down {
			label = "Volume Down";
			linux,code = <KEY_VOLUMEDOWN>;
			press-threshold-microvolt = <1650000>;
		};
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm0 0 25000 0>;
		brightness-levels = <
				255 169 168 168 167 166 166 165
				164 164 163 162 162 161 160 160
				159 158 158 157 156 156 155 154
				154 153 152 152 151 150 150 149
				148 148 147 146 146 145 144 144
				143 142 142 141 140 140 139 138
				138 137 136 136 135 134 134 133
				132 132 131 130 130 129 128 128
				127 126 126 125 124 124 123 122
				122 121 120 120 119 118 118 117
				116 116 115 114 114 113 112 112
				111 110 110 109 108 108 107 106
				106 105 104 104 103 102 102 101
				100 100  99  98  98  97  96  96
				 95  94  94  93  92  92  91  90
				 90  89  88  88  87  86  86  85
				 84  84  83  82  82  81  80  80
				 79  78  78  77  76  76  75  74
				 74  73  72  72  71  70  70  69
				 68  68  67  66  66  65  64  64
				 63  62  62  61  60  60  59  58
				 58  57  56  56  55  54  54  53
				 52  52  51  50  50  49  48  48
				 47  46  46  45  44  44  43  42
				 42  41  40  40  39  38  38  37
				 36  36  35  34  34  33  32  32
				 31  30  30  29  28  28  27  26
				 26  25  24  24  23  22  22  21
				 20  20  19  18  18  17  16  16
				 15  14  14  13  12  12  11  10
				 10   9   8   8   7   6   6   5
				  4   4   3   2   1   1   1   0>;
		default-brightness-level = <128>;
		power-supply = <&vcc_backlight>;
		enable-gpios = <&gpio2 RK_PC4 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	vcc_backlight: vcc-backlight {
		compatible = "regulator-fixed";
		regulator-name = "vcc_backlight";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};


	vcc_sys: vcc-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vdd_arm: vdd-arm {
		compatible = "pwm-regulator";
		pwms = <&pwm1 0 25000 1>;
		pwm-supply = <&vcc_sys>;
		regulator-name = "vdd_arm";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <950000>;
		regulator-max-microvolt = <1450000>;
		voltage-table = < 950000 91>,
		                < 975000 86>,
		                <1000000 81>,
		                <1025000 77>,
		                <1050000 72>,
		                <1075000 68>,
		                <1100000 64>,
		                <1125000 59>,
		                <1150000 54>,
		                <1175000 50>,
		                <1200000 45>,
		                <1225000 41>,
		                <1250000 36>,
		                <1275000 31>,
		                <1300000 27>,
		                <1325000 22>,
		                <1350000 18>,
		                <1375000 13>,
		                <1400000  9>,
		                <1425000  5>,
		                <1450000  0>;
		regulator-state-mem {
			regulator-on-in-suspend;
			regulator-suspend-microvolt = <1250000>;
		};
	};

	vdd_log: vdd-log {
		compatible = "pwm-regulator";
		pwms = <&pwm2 0 25000 1>;
		pwm-supply = <&vcc_sys>;
		regulator-name = "vdd_log";
		regulator-min-microvolt = <950000>;
		regulator-max-microvolt = <1450000>;
		regulator-always-on;
		regulator-boot-on;
		voltage-table = < 950000 91>,
		                < 975000 86>,
		                <1000000 81>,
		                <1025000 77>,
		                <1050000 72>,
		                <1075000 68>,
		                <1100000 64>,
		                <1125000 59>,
		                <1150000 54>,
		                <1175000 50>,
		                <1200000 45>,
		                <1225000 41>,
		                <1250000 36>,
		                <1275000 31>,
		                <1300000 27>,
		                <1325000 22>,
		                <1350000 18>,
		                <1375000 13>,
		                <1400000  9>,
		                <1425000  5>,
		                <1450000  0>;
		regulator-state-mem {
			regulator-on-in-suspend;
			regulator-suspend-microvolt = <1200000>;
		};
	};

	vcc_io: vcc-io {
		compatible = "regulator-fixed";
		regulator-name = "vcc_io";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	vdd_11: vdd-11 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_11";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1100000>;
		regulator-max-microvolt = <1100000>;
	};

	vcca_33: vcca-33 {
		compatible = "regulator-fixed";
		regulator-name = "vcca_33";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	vcc_host_5v: vcc-host-5v-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio3 20 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&host_vbus_drv>;
		regulator-name = "vcc_host_5v";
		regulator-always-on;
	};

	vcc_lcd: vcc-lcd {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio2 RK_PC5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc_lcd_en>;
		regulator-name = "vcc_lcd_en";
		regulator-always-on;
	};


	wireless-wlan {
		compatible = "wlan-platdata";

		vref_ctrl_enable;
		vref_ctrl_gpio = <&gpio1 RK_PA3 GPIO_ACTIVE_LOW>;

		wifi_chip_type = "rtl8723bs";
		WIFI,host_wake_irq = <&gpio3 RK_PC7 GPIO_ACTIVE_HIGH>;
		WIFI,poweren_gpio  = <&gpio3 RK_PD3 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&cpu0 {
	cpu-supply = <&vdd_arm>;
};

&emmc {
	bus-width = <8>;
	cap-mmc-highspeed;
	supports-emmc;
	disable-wp;
	non-removable;
	num-slots = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_clk &emmc_cmd &emmc_bus8>;
	status = "okay";
};

&gpu {
	status = "okay";
	mali-supply = <&vdd_log>;
};


&i2c0 {
	status = "okay";
	clock-frequency = <400000>;

	hym8563: hym8563@51 {
	   compatible = "haoyu,hym8563";
	   reg = <0x51>;
	   #clock-cells = <0>;
	   clock-frequency = <32768>;
	   clock-output-names = "xin32k";
	};

	gt9271: gt9271@5d {
		compatible = "goodix,gt9271";
		reg = <0x5d>;
		touch-gpio = <&gpio1 RK_PB3 IRQ_TYPE_LEVEL_LOW>;
		reset-gpio = <&gpio2 RK_PC7 GPIO_ACTIVE_LOW>;
		max-x = <1024>;
		max-y = <600>;
		status = "okay";
	};

};



&i2c2 {
	status = "disabled";
	clock-frequency = <400000>;
};


&pinctrl {
	usb2 {
		host_vbus_drv: host-vbus-drv {
			rockchip,pins = <3 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	lcd {
		vcc_lcd_en: vcc-lcd-en {
			rockchip,pins = <2 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

};



&rga {
	status = "okay";
};

&saradc {
	status = "okay";
	vref-supply = <&vcc_io>;
};

&sdmmc {
	cap-mmc-highspeed;
	supports-sd;
	broken-cd;
	card-detect-delay = <800>;
	ignore-pm-notify;
	keep-power-in-suspend;
	cd-gpios = <&gpio1 17 GPIO_ACTIVE_HIGH>; /* CD GPIO */
	status = "disabled";
};

&sdio {
	max-frequency = <50000000>;
	cap-sd-highspeed;
	supports-sdio;
	ignore-pm-notify;
	keep-power-in-suspend;
	non-removable;
	/* vmmc-supply = <&ldo5>; */
	status = "okay";
};

&u2phy {
	status = "okay";
	otg-vbus-gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;

	u2phy_otg: otg-port {
		status = "okay";
	};

	u2phy_host: host-port {
		phy-supply = <&vcc_host_5v>;
		status = "okay";
	};
};

&usb_host_ehci {
	status = "okay";
};

&usb_host_ohci {
	status = "okay";
};

&usb_otg {
	status = "okay";
};

&vop {
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&pwm0 {
	status = "okay";
};

&pwm1 {
	status = "okay";
};

&pwm2 {
	status = "okay";
};

&display_subsystem {
	status = "okay";

	route {
		route_dsi: route-dsi {
			status = "okay";
			connect = <&vop_out_dsi>;
		};

		route_lvds: route-lvds {
			status = "disabled";
			connect = <&vop_out_lvds>;
		};
	};
};

&mipi_dphy {
	status = "okay";
};


&dsi {
	status = "okay";

	panel@0 {
		compatible = "simple-panel-dsi";
		reg = <0>;
		backlight = <&backlight>;
		power-supply = <&vcc_lcd>;
		power-invert;
		prepare-delay-ms = <20>;
		reset-delay-ms = <20>;
		init-delay-ms = <20>;
		enable-delay-ms = <120>;
		disable-delay-ms = <20>;
		unprepare-delay-ms = <20>;

		width-mm = <153>;
		height-mm = <85>;

		dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST |
			      MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_EOT_PACKET)>;
		dsi,format = <MIPI_DSI_FMT_RGB888>;
		dsi,lanes = <4>;

		panel-init-sequence = [
			05 1e 01 01
			15 00 02 80 47
			15 00 02 81 40
			15 00 02 82 04
			15 00 02 83 77
			15 00 02 84 0f
			15 00 02 85 70
			15 78 02 86 70
		];

		display-timings {
			native-mode = <&timing0>;

			timing0: timing0 {
				clock-frequency = <49500000>;
				hactive = <1024>;
				hfront-porch = <120>;
				hsync-len = <40>;
				hback-porch = <120>;
				vactive = <600>;
				vfront-porch = <14>;
				vsync-len = <4>;
				vback-porch = <14>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};
	};
};
